.section {
  max-width: 800px;
  margin: 48px auto;
  padding: 20px 24px;
  text-align: center;

  label {
    display: block;
    text-transform: uppercase;
    color: #333A54;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
  }
}

.submission {
  padding: 20px 24px;
}

@media (max-width: 480px) {
  .section {
    max-width: 432px;
    margin: 24px auto;
  }
}
